.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 2em;
}
  
.filter {
  margin-right: 20px;
  }

.select {
   padding: 5px;
   font-family: 'Inconsolata', monospace;
    text-align: center;
    margin: 10px 25px 0 25px;
    background-color: rgb(46, 40, 40);
    color: white;
    padding: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    border:3px dotted rgba(34, 204, 213, 0.736);
    cursor: pointer;
    background-image: linear-gradient( rgb(22, 170, 178), #00807c 75%);
    font-family:DK Lemon Yellow Sun;
    font-size: xx-large;
    background-color: rgb(116, 175, 175);
    width: 97%;
    padding: 8px;
    outline: none;
    border-radius: 8px;
  }

  .option:hover {
    background-color: yellow;
  }

  .select:focus {
    background-color: #60c5c0;
  }