/* .inputRadio[type="radio"] {
    display: none;
  } */
  
/* .labelStar {
    color: rgb(131, 128, 128);
    font-size: 1.5rem;
  } */
  
/* .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  } */
  
  /* .labelStar:hover {
    color: orange;
  } */
  
  /* .inputRadio[type="radio"]:checked ~ label {
    color: orange;
  } */

  