input[type="radio"] {
    display: none;
  }
  
.label {
    color: rgb(131, 128, 128);
    font-size: 1.5rem;
  }
  
/* .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  } */
  
  .label:hover {
    color: orange;
  }
  
  .input[type="radio"]:checked ~ label {
    color: orange;
  }

  