.mainContainer{
    border-radius: 11px;
    background: transparent;
    width: 100%;
    height: fit-content;
    padding: 2em;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: .5rem;
    color: rgb(44, 161, 8);
    font-family: DK Lemon Yellow Sun;
    font-size: xx-large;
    font-weight:500;
  }
  .boton {
      margin-top: 1rem;
      border:3px solid rgba(40, 146, 152, 0.736);
      color: #ffffff;
      cursor: pointer;
      border-radius: 5px;
      background-image: linear-gradient(315deg, rgba(40, 146, 152, 0.736)  0%,#a5cd4e);
      font-family:DK Lemon Yellow Sun;
      font-size: 26px;
      padding: 6px;
      justify-content: center;
      text-align: center;
    }
    
    .boton:hover{
      border: 3px solid rgb(22, 170, 178);
      scale: 1.1;
    }
  
    .botonx {
      border:3px solid rgba(40, 146, 152, 0.736);
      color: #ffffff;
      cursor: pointer;
      border-radius: 5px;
      background-image: linear-gradient(315deg, rgba(152, 42, 40, 0.736)  0%,#dd0f0f);
      font-family:DK Lemon Yellow Sun;
      font-size: 26px;
      padding: 6px;
      justify-content: center;
      text-align: center;
    }
    
    .botonx:hover{
      border: 3px solid rgb(22, 170, 178);
    }
  
  .playlists{
    color:black;
    border:3px solid rgba(40, 146, 152, 0.736);
    cursor: pointer;
    border-radius: 5px;
    font-family:DK Lemon Yellow Sun;
    padding: 6px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
  }