.mensaje{
    height: 80vh;
    overflow-y: scroll;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: flex-start;
    background-color: #ffffff10;
    border-radius: 2rem;
    border: 1px white solid;
    backdrop-filter: blur(5px);
    margin-bottom: 1rem;
} 

.input{
    color:white;
    width: 90%;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline:none;
    border-radius: 0.5rem solid red;
    background-color: transparent; 
    padding-left: 1rem;
}

