  .navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin-bottom: 2em;
  }
  
  .nav{
    display: flex;
    flex-direction: row;
  }
  
  .boton{
    justify-content: center;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
  }
  .botonposta {
    margin-top: 26px;
    border:3px solid rgba(40, 146, 152, 0.736);
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    background-image: linear-gradient(315deg, rgba(40, 146, 152, 0.736)  0%,#a5cd4e);
    font-family:DK Lemon Yellow Sun;
    font-size: 37px;
    margin-left: 2em;
    padding: 6px;
    justify-content: center;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    
  }
  
  .botonposta:hover{
    border: 3px solid rgb(22, 170, 178);
  }
  
  .botonc{
      border:3px solid rgba(6, 137, 1, 0.736);
      color: #ffffff;
      cursor: pointer;
      border-radius: 5px;
      background-image: linear-gradient(315deg, rgba(40, 152, 64, 0.736)  0%,#1f812e);
      font-family: "DK Lemon Yellow Sun", cursive;
      font-size: 1.75rem;
      padding: 6px;
      justify-content: center;
      text-align: center;
      margin-top: 0.5em;
      margin-left: 0em;
      margin-right: 2em;
  }
    
    .botonc:hover{
      border: 3px solid rgb(22, 170, 178);
    }
  
.chats{
  height: 5em;

  margin-left: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.logo{
  width: 7%;
  background-color: transparent;
  margin-right: 7em;
  margin-left: 1em;
  cursor: pointer;
  border-radius: 65px;
  justify-content: center;
  margin-right: 26em;
  margin-left: 26em;
  align-items: center;
}

.logo2{
  width: 7%;
  background-color: transparent;
  margin-right: 1em;
  margin-left: 1em;
  cursor: pointer;
  border-radius: 100px;
  justify-content: center;
}


.navbar_container{
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo_nav{
  width: 4rem;
  cursor: pointer;
}